{% extends 'base.html' %} {% block content %}
<div class="container">
   <h2 class="heading">Details</h2>
   <form method="post" class="my-form">
      {% csrf_token %}
      <div class="form-group">
         <label for="name">Name:</label>
         <input type="text" id="name" name="name" class="form-control" placeholder="Enter your name" />
      </div>

      <div class="form-group">
         <label for="age">Age:</label>
         <input type="number" id="age" name="age" class="form-control" placeholder="Enter your age" />
      </div>
      <div class="form-group">
         <label for="name">Blood group</label>
         <input type="text" id="name" name="name" class="form-control" placeholder="Enter your blood group" />
      </div>
      <div class="form-group">
         <label for="name">Identification details</label>
         <textarea class="form-control" id="hidden_text" name="hidden_text" rows="5" placeholder="Type your hidden message here"></textarea>
      </div>

      <div class="form-group">
         <label for="name">Medical details</label>
         <textarea class="form-control" id="hidden_text" name="hidden_text" rows="5" placeholder="Type your hidden message here"></textarea>
      </div>
      <div class="form-group">
         <label for="name">Address</label>
         <textarea class="form-control" id="hidden_text" name="hidden_text" rows="5" placeholder="Type your hidden message here"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
   </form>
</div>
{% endblock %}
