<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Main CSS -->
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/home.css' %}" />
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
   </head>

   <body>
      <!-- Header -->
      <header id="home" class="header-area pt-100">
         <div class="shape header-shape-one">
            <img src="/static/images/shape-1.png" alt="shape" />
         </div>

         <div class="shape header-shape-tow animation-one">
            <img src="/static/images/shape-2.png" alt="shape" />
         </div>

         <div class="shape header-shape-three animation-one">
            <img src="/static/images/shape-3.png" alt="shape" />
         </div>

         <div class="shape header-shape-fore">
            <img src="/static/images/shape-4.png" alt="shape" />
         </div>

         <div class="navigation-bar">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <nav class="navbar navbar-expand-lg">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="toggler-icon"></span>
                           <span class="toggler-icon"></span>
                           <span class="toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                           <ul id="nav" class="navbar-nav ml-auto">
                              <li class="nav-item active">
                                 <a class="page-scroll" href="#home">Home</a>
                              </li>
                              <li class="nav-item">
                                 <a class="page-scroll" href="#about">About</a>
                              </li>
                              <li class="nav-item">
                                 <a class="page-scroll" href="#">Info</a>
                              </li>
                              <li class="nav-item">
                                 <a class="page-scroll" href="#">Message</a>
                              </li>
                              <li class="nav-item">
                                 <a class="page-scroll" href="#">Report</a>
                              </li>
                              <li class="nav-item">
                                 <a class="page-scroll" href="#">Donate</a>
                              </li>
                           </ul>
                           <!-- navbar nav -->
                        </div>
                        <div class="navbar-btn ml-20 d-none d-sm-block">
                           <a class="main-btn" href="#"><i class="lni-phone"></i>Maps</a>
                        </div>
                     </nav>
                     <!-- navbar -->
                  </div>
               </div>
               <!-- row -->
            </div>
            <!-- container -->
         </div>
         <!-- navigation bar -->

         <div class="header-banner d-flex align-items-center">
            <div class="container">
               <div class="row">
                  <div class="col-xl-8 col-lg-9 col-sm-10">
                     <div class="banner-content">
                        <h4 class="sub-title wow">With you, always</h4>
                        <h1 class="banner-title"><span>Sentinel</span> app</h1>
                        <a class="banner-contact">Harboring hope to all women.</a>
                     </div>
                  </div>
               </div>
               <!-- row -->
            </div>
            <!-- container -->
            <div class="banner-image bg_cover" style="background-image: url('https://img.freepik.com/free-vector/flat-illustration-iranian-women-with-leaves-flowers_23-2149826001.jpg?t=st=1709571296~exp=1709574896~hmac=a61e4a8d0be5218a70f4e89f5e91e87bbd4fcd5e7c5411a78484e12659f49498&w=740')"></div>
         </div>
         <!-- header banner -->
      </header>

      <!-- About -->
      <section id="about" class="about-area pt-80 pb-130">
         <div class="container">
            <div class="row">
               <div class="col-lg-6">
                  <div class="about-image mt-50 clearfix">
                     <div class="single-image float-left">
                        <img src="https://img.freepik.com/free-vector/woman-cage-pro-civil-rights-concept_23-2148584349.jpg?t=st=1709571863~exp=1709575463~hmac=582c923f7eeefbc57027b10df686e34662aefca9763e1fde60632b9842056f9f&w=740" alt="About" />
                     </div>

                     <div data-aos="fade-right" class="about-btn">
                        <a class="main-btn" href="#"><span>27</span> Years Experience</a>
                     </div>
                     <div class="single-image image-tow float-right">
                        <img src="https://img.freepik.com/free-vector/floral-women-s-day-with-fist-girls-power_23-2148421050.jpg?t=st=1709571533~exp=1709575133~hmac=befa9728d331f8b03febb0bc3f475c270d16bf1784b990cc9906be0be9b6d93b&w=740" alt="About" />
                     </div>
                  </div>
                  <!-- about image -->
               </div>
               <div class="col-lg-6">
                  <div class="about-content mt-45">
                     <h4 class="about-welcome">About Us</h4>
                     <h3 class="about-title mt-10">Reasons to choose</h3>
                     <p class="mt-25">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
                        centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages <br />
                        <br />It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                     </p>
                     <a class="main-btn mt-25" href="#">learn more</a>
                  </div>
                  <!-- about content -->
               </div>
            </div>
            <!-- row -->
         </div>
      </section>
      <br />
      <br />
      <br />
      <!-- Map -->
      <section id="map" class="map-area">
         <div class="mapouter">
            <div class="gmap_canvas">
               <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
         </div>
         <div
            class="map-bg bg_cover d-none d-lg-block"
            style="background-image: url('https://img.freepik.com/free-vector/colorful-women-s-day-pattern-with-women-faces_23-2148412959.jpg?t=st=1709571937~exp=1709575537~hmac=787c538125ea51a4e52b9882dd0078ed066986617a55f7a02f827a4edb6a11ac&w=740')"
         ></div>
      </section>

      <!-- Footer -->
      <footer class="container py-5">
         <div class="row">
            <div class="col-12 col-md">
               <small class="d-block mb-3 text-muted">&copy; 2017-2019</small>
            </div>
            <div class="col-6 col-md">
               <h5>Features</h5>
               <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Cool stuff</a></li>
                  <li><a class="text-muted" href="#">Random feature</a></li>
                  <li><a class="text-muted" href="#">Team feature</a></li>
                  <li><a class="text-muted" href="#">Stuff for developers</a></li>
                  <li><a class="text-muted" href="#">Another one</a></li>
                  <li><a class="text-muted" href="#">Last time</a></li>
               </ul>
            </div>
            <div class="col-6 col-md">
               <h5>Resources</h5>
               <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Resource</a></li>
                  <li><a class="text-muted" href="#">Resource name</a></li>
                  <li><a class="text-muted" href="#">Another resource</a></li>
                  <li><a class="text-muted" href="#">Final resource</a></li>
               </ul>
            </div>
            <div class="col-6 col-md">
               <h5>Resources</h5>
               <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Business</a></li>
                  <li><a class="text-muted" href="#">Education</a></li>
                  <li><a class="text-muted" href="#">Government</a></li>
                  <li><a class="text-muted" href="#">Gaming</a></li>
               </ul>
            </div>
            <div class="col-6 col-md">
               <h5>About</h5>
               <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Team</a></li>
                  <li><a class="text-muted" href="#">Locations</a></li>
                  <li><a class="text-muted" href="#">Privacy</a></li>
                  <li><a class="text-muted" href="#">Terms</a></li>
               </ul>
            </div>
         </div>
      </footer>
   </body>
</html>
