* {
   margin: 0;
   padding: 0;
}

body {
   background: #392566;
   font: 700 16px "Montserrat", sans-serif;
}

main {
   background: #fbfaf6;
   border-radius: 0.25rem;
   box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
}
#message {
   background: none;
   border: none;
   border-bottom: 2px solid #74bdb7;
   box-sizing: border-box;
   outline: none;
}

img {
   height: auto;
   width: 100%;
}

input[type="submit"] {
   background: #fff;
   height: 2.75rem;
   margin: 1em auto auto;
}

figure {
   overflow: hidden;
   position: relative;
   width: 100%;
}

@media (min-width: 1168px) {
   figure {
      float: left;
      height: 100%;
      position: relative;
      width: 50%;
   }
}

form {
   overflow: hidden;
   padding: 10%;
   position: relative;
   width: 100%;
}

@media (min-width: 768px) {
   form {
      float: left;
      height: 78%;
      padding: 6%;
      width: 38%;
   }
}

main {
   margin: 10px auto auto;
   overflow: hidden;
   position: relative;
   width: 10%;
}

@media (min-width: 768px) {
   main {
      height: 30.25rem;
      left: 50%;
      margin: auto;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      width: 68.5rem;
   }
}

input[type="submit"] {
   background: #f37b56;
   border: none;
   color: #fff;
   padding: 0 2rem;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
   background: #f79577;
   cursor: pointer;
   outline: none;
}

.text-headline {
   color: #74bdb7;
   letter-spacing: 0.4rem;
   font: 700 1.4em "Montserrat";
   text-align: center;
   text-transform: uppercase;
}

.text-body {
   color: #354c58;
   font: 700 16px "Montserrat", sans-serif;
}
