<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <title>zerah</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />

      <!-- Main CSS -->
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/style.css' %}" />
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
   </head>
   <body>
      <div class="main-wrapper">
         <!-- Sidebar -->
         <aside class="sidebar">
            <!-- Header -->
            <header class="header">
               <div class="navbar-header">
                  <a href="index-2.html" class="navbar-brand logo">
                     <!-- Your logo image goes here -->
                     <img src="your-logo.png" class="img-fluid logo-img" alt="Logo" />
                  </a>
               </div>
            </header>
            <!-- /Header -->

            <div class="main-menu-wrapper">
               <ul class="main-nav">
                  <li class="active">
                     <a href="index-2.html">Home</a>
                  </li>
                  <li class="has-submenu">
                     <a href="#">Encode</a>
                  </li>
                  <li class="has-submenu">
                     <a href="#">Report</a>
                  </li>
                  <li class="has-submenu">
                     <a href="#">Maps</a>
                  </li>
               </ul>
            </div>

            <ul class="nav header-navbar-rht">
               <li class="nav-item contact-item">
                  <div class="header-contact-img">
                     <i class="far fa-hospital"></i>
                  </div>
               </li>
            </ul>
         </aside>
         <!-- /Sidebar -->

         <!-- Page Content -->
         <div class="page-content">{% block content %} {% endblock %}</div>
         <!-- /Page Content -->
      </div>
   </body>
</html>
